AWSTemplateFormatVersion: "2010-09-09"

Description: Security Resources

Resources:
{% for certificate in config_acm_certificates | default([]) %}
{% set certificate_resource = certificate.name | regex_replace('[^a-zA-Z0-9]', ' ') | title | regex_replace('\s', '') %}
  {{ certificate_resource }}:
    Type: "AWS::CertificateManager::Certificate"
    Properties:
      DomainName: "{{ certificate.name }}"
{% if certificate.alternative_names is defined %}
      SubjectAlternativeNames: {{ certificate.alternative_names | to_json }}
{% endif %}
{% endfor %}

Outputs:
{% for certificate in config_acm_certificates | default([]) %}
{% set certificate_resource = certificate.name | regex_replace('[^a-zA-Z0-9]', ' ') | title | regex_replace('\s', '') %}
  {{ certificate_resource }}CertificateArn:
    Description: "{{ certificate.name }} Certificate ARN"
    Value: { "Ref": "{{ certificate_resource }}" }
    Export:
      Name: "{{ certificate_resource }}CertificateArn"
{% endfor %}